<div class="col-lg-3">
    @*===============CategoriesDetail============*@
    @Html.Partial("_CategoriesDetail")
    @*===============Featured============*@
    @Html.Partial("_FeaturedProduct")
    @*===============Recent Product============*@
    @Html.Partial("_RecentProduct")
    @*===============Product Tags============*@
    @Html.Partial("_ProductTags")
</div>