<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    @if (ViewBag.lang == "en")
                    {
                        <h1>Isu Vina</h1>
                        <p>
                            To create the best space with technology and beauty, ISU VINA constantly strive to manage construction technology and work effictively.
                            We provides soft landing support for enterprises in Vietnam on a pracical level based on years of experience in construction in Vietnam.
                        </p>
                    }
                    else if (ViewBag.lang == "ko")
                    {
                        <h1>이수 비나</h1>
                        <p>
                            이수비나는 기술과 아름다움으로 최고의 공간을 창조하기 위해 건설기술을 관리하고 효율적으로 업무를 수행하기 위해 끊임없이 노력하고 있습니다.
                            다년간의 베트남 건설 경험을 바탕으로 베트남 기업의 연착륙을 실무적인 차원에서 지원하고 있습니다.
                        </p>
                    }
                    else
                    {
                        <h1>Isu Vina</h1>
                        <p>
                            Để tạo ra không gian tốt nhất về công nghệ và vẻ đẹp, ISU VINA không ngừng nỗ lực quản lý công nghệ xây dựng và làm việc hiệu quả.
                            Chúng tôi cung cấp hỗ trợ hạ cánh mềm cho các doanh nghiệp tại Việt Nam ở mức độ thực tế dựa trên kinh nghiệm nhiều năm xây dựng tại Việt Nam.
                        </p>
                    }
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Useful Pages</h3>
                    <ul>
                        <li><a href="~/Home/Category/1">Chemical</a></li>
                        <li><a href="~/Home/Category/2">Stationery</a></li>
                        <li><a href="~/Home/Category/3">Construction</a></li>
                        <li><a href="~/Home/Category/4">3D Printing</a></li>
                        <li><a href="~/Home/Category/5">Electronics</a></li>
                        <li><a href="~/Home/Category/6">Labor Protect</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Quick Links</h3>
                    <ul>
                        <li><a href="~/Home/Product">Product</a></li>
                        <li><a href="~/Home/Category/5">Shipping - Packagings</a></li>
                        <li><a href="~/Home/Category/6">Labor - Protection</a></li>
                        <li><a href="~/Home/Login">Login & Register</a></li>
                        <li><a href="~/Home/MyAccount">My Account</a></li>
                        <li><a href="~/Home/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Get in Touch</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Lot D, Binh Hoa An City, Binh Duong Province</p>
                        <p><i class="fa fa-envelope"></i> an.phan@shcglobal.co.kr</p>
                        <p><i class="fa fa-phone"></i>+84-342951025</p>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row payment">
            <div class="col-md-6">
                <div class="payment-method">
                    <p>We Accept:</p>
                    <img src="~/Content/img/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <p>Secured By:</p>
                    <img src="~/Content/img/godaddy.svg" alt="Payment Security" />
                    <img src="~/Content/img/norton.svg" alt="Payment Security" />
                    <img src="~/Content/img/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->