<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav m-auto">
                    <a href="~/Home/Index" class="nav-item nav-link active">Home</a>
                    <a href="~/Home/Product" class="nav-item nav-link">Products</a>
                    <div class="nav-item dropdown">
                        <a href="~/Home/Product" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                        <div class="dropdown-menu">
                            <a href="~/Home/Category/1" class="dropdown-item">Chemical</a>
                            <a href="~/Home/Category/2" class="dropdown-item">Stationery</a>
                            <a href="~/Home/Category/3" class="dropdown-item">Construction</a>
                            <a href="~/Home/Category/4" class="dropdown-item">3D printing</a>
                            <a href="~/Home/Category/5" class="dropdown-item">Led light</a>
                            <a href="~/Home/Category/6" class="dropdown-item">Labor Protection</a>
                            <a href="~/Home/Category/7" class="dropdown-item">Electronics</a>
                            <a href="~/Home/CartList" class="dropdown-item">CartList</a>
                            <a href="~/Home/MyAccount" class="dropdown-item">MyAccount</a>

                        </div>
                    </div>
                    <a href="~/Home/contact" class="nav-item nav-link">Contact Us</a>
                </div>
            </div>
        </nav>
    </div>
</div>