

    <div class="sidebar-widget tag">
        <h2 class="title">Product Tags</h2>
        <a href="#">Product1</a>
        <a href="#">Product2</a>
        <a href="#">Product3</a>
        <a href="#">Product4</a>
        <a href="#">Product5</a>
        <a href="#">Product6</a>
        <a href="#">Product7</a>
        <a href="#">Product8</a>
        <a href="#">Product9</a>
        <a href="#">Product10</a>
        <a href="#">Product11</a>
        <a href="#">Product12</a>

    </div>
