<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="category-img">
                    <img src="~/Content/img/category-1.jpg" />
                    <a class="category-name" href="~/Home/Category/1">
                        <h2>3D Printing</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="~/Content/img/category-3.jpg" />
                    <a class="category-name" href="~/Home/Category/2">
                        <h2>Stationery</h2>
                    </a>
                </div>
                <div class="category-img">
                    <img src="~/Content/img/category0.jpg" />
                    <a class="category-name" href="~/Home/Category/3">
                        <h2>Labor Protection</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="~/Content/img/category-2.jpg" />
                    <a class="category-name" href="~/Home/Category/4">
                        <h2>Electronics</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>