<div class="row align-items-center product-slider product-slider-4">
    @foreach (IsuVina.Models.Product p in Model)
    {

        <div class="col-lg-3">
            <div class="product-item">
                <div class="product-image">
                    <a href="~/Home/Product_detail">
                        <img src="~/Content/img/@p.Image" alt="Product Image">
                    </a>
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="title"><a href="#">@p.Name</a></div>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="price">$12 <span>$25</span></div>
                </div>
            </div>
        </div>

    }
    @*<div class="col-lg-3">
            <div class="product-item">
                <div class="product-image">
                    <a href="~/Home/Product_detail">
                        <img src="~/Content/img/product-2.png" alt="Product Image">
                    </a>
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="title"><a href="#">Product Name</a></div>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="price">$23 <span>$26</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="product-item">
                <div class="product-image">
                    <a href="~/Home/Product_detail">
                        <img src="~/Content/img/product-1.png" alt="Product Image">
                    </a>
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="title"><a href="#">Product Name</a></div>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="price">$24 <span>$27</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="product-item">
                <div class="product-image">
                    <a href="~/Home/Product_detail">
                        <img src="~/Content/img/product-4.png" alt="Product Image">
                    </a>
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="title"><a href="#">Product Name</a></div>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="price">$20 <span>$24</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="product-item">
                <div class="product-image">
                    <a href="~/Home/Product_detail">
                        <img src="~/Content/img/product-5.png" alt="Product Image">
                    </a>
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="title"><a href="#">Product Name</a></div>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="price">$21 <span>$25</span></div>
                </div>
            </div>
        </div>*@
</div>
